:root {
    --res-blue: #3c78b4;
    --res-blue-bg: #dae3ef;
    --res-blue-active: #1368a0;
    --res-green: #a0d2b4;
    --res-green-active: #80cea0;
    --res-green-bg: #e5f1ea;
    --res-black-bg: #dedfe7;
    --res-orange: #f07850;
    --res-breakpoint: 600px;

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.navigation {
    a {
        color: black;
        display: block;
        font-size: 1.2rem;

        &:focus {
            outline: 4px solid var(--res-orange);
        }
    }
}

.headline {
    margin: 1rem 0 1rem 0;
}

.section {
    display: block;

    &--blue-bg {
        background-color: var(--res-blue-bg);
    }

    &--black-bg {
        background-color: var(--res-black-bg);
    }

    &--green-bg {
        background-color: var(--res-green-bg);
    }
}

.page-header,
.section {
    padding: 10px 15px;

    @media (min-width: $breakpoint) {
        padding: 30px 10%;
    }
}

.skip-content {
    display: inline-block;
    text-wrap: nowrap;
    width: 0px;
    overflow-x: hidden;

    &:focus {
        width: auto;
        visibility: visible;
        outline: 4px solid var(--res-orange);
    }
}
