:root {
    --res-blue: #3c78b4;
    --res-blue-bg: #dae3ef;
    --res-green: #a0d2b4;
    --res-black-bg: #dedfe7
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

.headline {
    margin: 1rem 0 1rem 0;
}
