:host {
    width: 100%;
}

.tabs {
    width: 100%;
    padding-top: 1rem;

    @media (min-width: $breakpoint) {
        &--vertical {
            display: grid;
            grid-template-columns: 100px calc(100% - 100px);
            justify-items: stretch;

            .tabs__frame {
                overflow-x: auto;
            }
        }
    }
}

.tabs__header {
    z-index: 1;
}

.tabs__nav {
    display: grid;
    grid-template-columns: auto;

    h1 {
        display: inline-block;
    }

    &--vertical {
        grid-template-rows: auto;
    }
}

.tabs__link {
    display: grid;
    background-color: var(--res-blue-bg);
    min-width: 100px;
    border: none;
    justify-content: stretch;
    cursor: pointer;
    z-index: 1;
    padding: 0;

    h1 {
        box-sizing: border-box;
        padding: 1rem 0;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid black;
    }

    &:focus {
        outline: 0;
        z-index: 10;

        h1 {
            outline: 4px solid var(--res-orange);
        }
    }

    &--active {
        box-shadow: inset 0 4px var(--res-blue-active);
    }

    @media (min-width: $breakpoint) {
        grid-row: 1;

        h1 {
            border-bottom: 0;
            border-right: 1px solid black;
            border-left: 1px solid black;
        }

        &:first-of-type h1 {
            box-shadow: -1px 0 black;
        }

        &:last-of-type h1 {
            box-shadow: 1px 0 black;
        }

        &--vertical {
            width: 100px;
            grid-row: auto;

            h1 {
                border: none;
                border-bottom: 1px solid black;
            }

            &:first-of-type h1, &:last-of-type h1, h1 {
                box-shadow: none;
            }
        }
    }
}

.tabs__frame {
    height: 500px;
    overflow: auto;
    border: 1px solid black;
}
